[2020-10-02 23:17] tschaffter opened #2 "Add initial codebase"
Provide code structure so that we can start implementing local evaluation of prediction files

[2020-10-02 23:18] tschaffter opened #3 "Add GH workflow to lint project"

[2020-10-02 23:19] tschaffter opened #4 "Dockerize this client"
- Add Dockerfile
- Add documentation on how to run it

[2020-10-02 23:19] tschaffter opened #5 "Add GH workflow to build and publish Docker image"

[2020-10-02 23:20] tschaffter opened #6 "Add example prediction and goldstandard files to test evaluation"

[2020-10-02 23:20] tschaffter opened #7 "Add badges to README"

[2020-10-03 00:03] tschaffter commented on #2
Done in #1

[2020-10-03 00:03] #2 closed

[2020-10-03 00:10] #7 closed

[2020-10-03 00:33] tschaffter commented on #3
Done in #8

[2020-10-03 00:33] #3 closed

[2020-10-03 02:17] #4 closed

[2020-10-03 02:17] #5 closed

[2020-10-03 02:35] tschaffter opened #10 "Login user and check if he/she is registered"
Registered = Member of the Synapse NLP Sandbox participant team. This is an exercise to find a suitable way to authenticate the user and query information about him/her. This is the first step before implementing more useful features, e.g. submit to the nlp sandbox, get submission status, etc.

[2020-10-03 03:06] tschaffter opened #11 "Fix SandboxViolation: open('/home/tschaffter/.synapseConfig', 'wb')"
After adding `synapseclient>=2.2.0` to *setup.py*:

[code]

Does Synapse tried to access *tschaffter/.synapseConfig* during its installation?

[code]

[2020-10-03 03:14] tschaffter commented on #11
@thomasyu888 I'm trying to add `synapseclient` Do you know a workaround to this error (this PR above)?

[2020-10-05 17:06] thomasyu888 commented on #11
I confirm I can replicate your error when I do:

[code]

but when I do.
[code]

It works.  This should be a jira ticket to the python client.

[2020-10-05 18:35] tschaffter commented on #11
`pip install -e .`

[2020-10-05 21:39] #10 closed

[2020-10-05 21:39] #11 closed

[2020-10-05 21:50] tschaffter commented on #6
Done in bdb96b5d55b709f6bb6d555abe9459864de33723

[2020-10-05 21:50] #6 closed

[2020-10-10 04:44] tschaffter opened #14 "Define how a NLP Tool can be submitted to the NLP Sandbox during CI/CD"
- The request will requires to include an NLP_SANDBOX_TOKEN, but it will not be part of the submission object.
- Come up with a configuration file

[2020-10-10 04:45] tschaffter opened #15 "Add a method to the client to submit a JSON object to the NLP Sandbox"

[2020-10-10 20:32] tschaffter opened #16 "Add command named "community" and get number of registered users"
- [x] Add the command "community" to get information about the community
  - An alternative name could be "analytics", but for now "community" has a more positive spin. It depends on the future actions that will be added to this command.
- [x] Get the number of Synapse users in the Synapse Team "NLP Sandbox Participants" (`Team:3413388`)

[2020-10-10 21:02] thomasyu888 commented on #16
Number fo users in Synapse team:

[code]

[2020-10-11 00:23] #16 closed

[2020-10-11 00:25] tschaffter opened #18 "Document how the user can pass Synapse credential to the Docker image"

[2020-10-11 00:33] tschaffter opened #19 "Publish client to PyPI"
This will enable its integration is other clients, e.g. the Orchestrator.

[2020-10-11 00:46] tschaffter commented on #19
Initial upload of the package:
https://pypi.org/project/nlp-sandbox-client/

[code]

[2020-10-11 01:19] tschaffter commented on #19
The GH workflow failed to push the package to pypi:
https://github.com/Sage-Bionetworks/nlp-sandbox-client/runs/1236921907?check_suite_focus=true

[2020-10-11 01:33] tschaffter commented on #19
The cause of the issue was that the package version specified in *setup.py* was the same as the version of the package that I previously manually uploaded to pipy. I've bumped the version up and the package (0.1.1) has been successfully pushed to pypi.

https://pypi.org/project/nlp-sandbox-client

[2020-10-11 01:33] #19 closed

[2020-10-13 23:54] thomasyu888 opened #23 "Why do we have different folders per module?"
We can just put the `evaluations.py` in `nlpsandboxclient` folder.  It is confusing because we have:

```from nlpsandboxclient.evaluation import evaluation```, but the true path is

[code]

Which seems redundant.  There is no reason to really create folder hierarchies as nothing in python is really "private".  Unless we were trying to signal to users that these are sets of "core" functions that wi

[2020-10-14 00:22] thomasyu888 opened #25 "Add submissions module"
Get all the submissions objects submitted in the past. We could add an option to show only the submissions with a given status (e.g. Running, Completed), show only the last N submission (e.g. --head 5).

[2020-10-14 00:39] tschaffter commented on #25
Thanks for creating this ticket.

[2020-10-14 00:52] tschaffter commented on #23
Thanks for asking! My experience working with Python is limited and I didn't remember what's the best way to structure the code. I don't like either `import nlpsandboxclient.evaluation.evaluation`. Feel free to reorganize the code to whatever makes sense to you.

The only thing I liked about my code is the separation of the CLI from the business logic of the client, which may justify to keep the C

[2020-10-14 01:00] tschaffter commented on #14
Related to #15 and #25

[2020-10-14 15:42] #23 closed

[2020-10-14 15:45] tschaffter opened #27 "Add command to validate client input and output data"
List of JSON object to validate:

- prediction JSON object for each task
- gold standard JSON object for each task

See how to do this in Python:
https://github.com/Sage-Bionetworks/nlp-sandbox-schemas/blob/develop/tools/validate/validate.py

[2020-10-14 15:46] tschaffter commented on #27
Depends on https://github.com/Sage-Bionetworks/nlp-sandbox-schemas/issues/38.
Marking this issue as Blocked until the above task is completed.

[2020-10-15 18:22] thomasyu888 commented on #18
There are multiple options.

* `cli` takes synapse username and password/apikey as parameters
* mount the `~/.syanspeCconfig` to `/root/.synapseConfig`, but this would force people to have a `~/.synapseConfig` file locally.

[2020-10-15 19:00] tschaffter commented on #18
I guess that it's the easiest solution. But since it's not recommended to enter the credential in clear in the command line, we could recommend to create environment variable SYNAPSE_USERNAME and SYNAPSE_API_TOKEN and import them as environment variables, e.g. `docker run -e SYNAPSE_USERNAME ...`.

[code]

Then there are two solutions to use these credentials in the container:

1. The client reads

[2020-10-16 02:02] thomasyu888 commented on #18
I don't really have a strong preference in any of these solutions.  I have implemented all of them for particular projects I'm on to give users the choice to provide synapse login of their choice.  I do however feel that all three of these solutions are a little bit clunky.

[2020-10-16 14:54] tschaffter opened #30 "Use logger"
https://docs.python.org/3/howto/logging.html

[2020-10-16 18:20] tschaffter opened #33 "Run client as non-root user"

[2020-10-16 18:26] tschaffter opened #34 "Add login(username, api_key)"
This is needed to be able to integrate the python client in another Python/R project.

Do we want to call `synapse_client = synapseclient.login()` and cache `synapse_client` so that we can do:

[code]

@thomasyu888 What do you recommend based on your experience with the implementation used in synapseclient?

[2020-10-16 19:00] thomasyu888 commented on #34
So in many of the tools, what I have set up is to pass a synapse connection as a parameter.  So for instance:

[code]

That being said, I do like your suggestion.  The nlpclient login can serve as a synapse login.  The only thing is that not everything in the nlpclient needs a connection with synapse so we would probably group the functions that use synapse vs those that don't.

[2020-10-16 23:37] tschaffter commented on #14
Kind of duplicate of #15

[2020-10-16 23:37] #14 closed

[2020-10-16 23:38] #33 closed

[2020-10-21 03:41] tschaffter opened #37 "Enable the controller to evaluate the performance of date predictions"
@yy6linda We are now able to generate prediction for date annotation using the controller (previously called Orchestrator). For now at least, prediction files are returned to Synapse. You can find the file that has been successfully pushed to synapse here:

https://www.synapse.org/#!Synapse:syn23512300

Tom needs a command line that makes use of the NLP Sandbox Client to evaluate the performance o

[2020-10-22 03:43] tschaffter opened #38 "Publish documentation"
Generating the documentation should help us to visualize what's currently implemented in the client. This visual representation should also help us to identify how best organize the client commands.

I had a look at some tools related to Python documentation (slides 13-15):
https://docs.google.com/presentation/d/1xZiQ59DhVCIcGSfAkNAx_BM9PoGmWdz77Ri1jV-iW1s/edit#slide=id.g7a7294dbf9_0_38

@thomasyu

[2020-10-22 22:34] tschaffter opened #39 "Add command to validate an NLP Tool"
## Parameters

- The address of the NLP Tool host, e.g. `http://localhost:8080`
- The type of NLP Tool, e.g. date annotator

## Suggested command

[code]

## Motivation

- Validate tool as part of the CI/CD of the repo of a tool using the dockerized NLP Sandbox client
- Enable developer to easily validate their tool locally
- Enable the validation of NLP Tools before evaluating them

## Validation

[2020-10-23 00:23] tschaffter commented on #39
Not sure it's actually possible to start a dockerized service and send queries to validate it..

[2020-10-24 15:07] tschaffter opened #41 "Add commands to create datasets"
## Create dataset

Input:
- base url of the data node
- name of the dataset

Output:
- UUID of the dataset created

## References

- [Google Health dataset API](https://cloud.google.com/healthcare/docs/how-tos/datasets#api)

[2020-10-24 15:23] tschaffter commented on #37
@yy6linda Could you lead this effort this week to provide instruction to Tom on how he can use the client to evaluate the performance of date annotation predictions? Please also work with Tom to create a leaderboard table for date annotation on the staging site according to the columns that we have identifier for this leaderboard. Thanks!

[2020-11-02 01:21] yy6linda commented on #37
Task is currently on hold because the date-annotator's output file is not consistent with the example prediction.json file where evaluation script is built on. After talking to Tom and George, we decided to wait until the output format is finalized.

[2020-11-02 01:55] tschaffter commented on #37
@yy6linda The information needed for the evaluation is available. Whether the format changes in the future should be a small modification in your evaluation script, so I don't think that it's justified to delay this task. Do you have a proposal to move forward?

[2020-11-02 07:01] thomasyu888 commented on #37
The evaluation code works but is unable to be tested in the pipeline because the format of the file generated by the date annotator is not the same as the format as the expected prediction file (evaluation code).

[2020-11-02 14:19] tschaffter commented on #37
@yy6linda As I mentioned, your evaluation script receives the information needed, even if it's not in the format that your script expects. If this statement is incorrect, please let me know. Otherwise, please add a small snippet that convert the format so that the evaluation so that every tasks downstream (create the leaderboard table, test the submission pipeline, spend some time about what can b

[2020-11-03 22:53] #37 closed

[2020-11-03 23:58] #39 closed

[2020-11-09 16:12] tschaffter commented on #41
Blocked until the data node with the new dataset API is implemented.

[2020-11-20 16:58] tschaffter opened #45 "Draft client use cases"
## Stakeholders

- Developer of a NLP tool
- Developer of the NLP sandbox infrastructure
- User of a NLP tool

## Use cases

### Developer of a NLP tool

A1. Send a NLP tool for evaluation to the NLP Sandbox (cloud environment) using a CLI, either manually or as part of a CI/CD workflow
A2. Show submission history
A3. Check the status of recent submissions (pending, running, completed)
A4. Evaluat

[2020-11-20 22:00] thomasyu888 commented on #45
Thanks @tschaffter for these detailed descriptions.  Transferring my thoughts from slack onto here: I think the client should be formatted however the API is formatted. Currently, the API takes as "input parameters" things like `datasetId` and `fhirStoreId`.  Therefore, I am going to decide to structure the python client as such:

[code]

The google healthcare API actually takes `name` as input pa

[2020-11-20 22:12] thomasyu888 commented on #45
Also it is interesting when you call:
[code]

Which is exactly what you input in the first place.  Was the plan to fill it out more with metadata as we build the API?

[2020-11-20 22:18] tschaffter commented on #45
The property Dataset.name is readOnly and so is not accepted as input. The redocly HTML document renders this properly, but not the API documentation rendered by Flask. I haven't try but I'm wondering if the openapi validation would complain if I remove the requestBody for a POST request. I'll give it a try but this is kind of temporary case as we may add properties to the input dataset schema in

[2020-11-21 04:51] thomasyu888 commented on #45
[x] create dataset
[x] create fhirstore
[x] create patients
[x] create notes
[x] list patients
[x] list notes
[x] create annotation store
[x] create annotations
[x] list annotations
[x] get annotations
[x] get notes
[x] save predicted annotation objects

[ ] show submission history
[ ] Check the status of recent submissions (

[2020-11-21 04:54] thomasyu888 commented on #45
What is the real purpose of doing this rest call?
[code]

Normally, we would get other metadata such as:

[code]

Are we planning on adding more attributes to be returned?

[2020-11-21 18:20] tschaffter commented on #45
The comment I made about `readOnly: true` for the property Dataset.name was valid for the POST endpoint. For the GET verb, the purpose is to get the dataset object, which include the property `name`. Currently that's the only property that the Dataset schema has. See https://github.com/Sage-Bionetworks/nlp-sandbox-schemas/blob/develop/openapi/data-node/components/schemas/Dataset.yaml.

Absolutely

[2020-11-21 19:25] tschaffter opened #46 "Update client to support paginated FHIR stores"
See https://github.com/Sage-Bionetworks/nlp-sandbox-schemas/issues/82

[2020-11-23 02:20] thomasyu888 commented on #45
So, one of my branches lists datasets, annotation stores by name.  The question I have is,

Would it confusing for people to do something like this?

[code]

[2020-11-23 04:48] tschaffter commented on #45
Do you have in mind the programmatic use of the client or the CLI?

When using the client programmatically, we could request the user to:

1. create of a `Dataset` object, then
2. call `annotation_store = my_dataset.create_annotation_store(annotation_store_id)`

[2020-11-23 04:57] thomasyu888 commented on #45
Swagger codegen, and my conversations with Jordan led me to think that it is cleaner to not mix the model classes with the api calls.    That is, typically, you have:

[code]

I haven't worked on any of the models yet, I've just been working with the json.

[2020-11-23 06:19] thomasyu888 commented on #46
@tschaffter  Has this been implemented in the API?

[2020-11-23 06:51] tschaffter commented on #46
I'll take care of this tomorrow.

[2020-11-23 17:46] tschaffter commented on #46
@thomasyu888 Done. The data node on the EC2 is up to date.

[code]

[2020-11-24 01:40] thomasyu888 opened #47 "Auto generate documentation with sphinx"

[2020-11-25 07:38] thomasyu888 opened #49 "Update parameters from `...id` to `..._id`"
Example: Instead of doing `datasetid`, do `dataset_id`

[2020-11-25 14:26] #41 closed

[2020-11-25 14:26] #46 closed

[2020-11-28 23:44] thomasyu888 opened #52 "Client functions could take the client object instead of host as a paramter"
[code]

[2020-11-29 00:57] tschaffter commented on #15
This is no longer required. Instead, the recommended way is to use this client in a programmatic way, for example in a Python script to push data to the data node. If the user wants to push JSON objects to the API, he/she can use `curl` directly.

[2020-11-29 00:57] #15 closed

[2020-11-30 18:40] tschaffter opened #54 "Publish edge version to PyPi"
Publish the EDGE release to PyPi, i.e. when pushing to the default branch (`develop`). Having access to the edge version will contribute to accelerate testing of the client.

[2020-11-30 18:44] tschaffter opened #55 "Rename PyPi client"
Current name: https://pypi.org/project/nlp-sandbox-client/
New name should be: https://pypi.org/project/nlpsandbox-client/

[2020-11-30 18:46] tschaffter commented on #54
Publish to https://test.pypi.org/

[2020-11-30 23:01] thomasyu888 commented on #54
Be careful when doing this. I'm unsure if there is a way to overwrite a pypi tag

[2020-12-01 03:36] #49 closed

[2020-12-01 05:57] thomasyu888 opened #57 "Tag new version of client"

[2020-12-01 10:02] thomasyu888 commented on #38
Related to #47

[2020-12-01 16:01] tschaffter commented on #55
I'm trying to reproduce what I did initially: push the package to PyPi manually using my account, then adding the service user as a member of the package so that it can push the package to PyPi during CI/CD workflow.

I have an issue pushing manually to PyPi using [these instructions (twine)](https://twine.readthedocs.io/en/latest/).

[code]

Then

[code]

[2020-12-01 16:02] tschaffter commented on #55
[code]

[2020-12-01 16:03] tschaffter commented on #55
Here is [another tutorial](https://thucnc.medium.com/how-to-publish-your-own-python-package-to-pypi-4318868210f9). Same error.

[2020-12-01 16:13] tschaffter commented on #55
The above error is thrown on Win using WSL Debian. I was able to run the above command and publish the package from a Docker container running Debian.

[code]

https://pypi.org/project/nlpsandbox-client/

Publishing to PyPi worked but not to testpypi:

[code]

[2020-12-01 16:50] tschaffter commented on #55
I created the GH release 0.2.1 to test the publication to PyPi in the CI/CD workflow. However the publication failed, see https://github.com/nlpsandbox/nlpsandbox-client/actions/runs/394290232.

@thomasyu888 Can you please have a look at this?

[2020-12-01 16:52] tschaffter commented on #55
I deleted the old PyPi package "nlp-sandbox-client"

[2020-12-01 23:41] tschaffter commented on #55
The issue was because the previous token had its scope limited to the old pypi package nlp-sandbox-client.

[2020-12-01 23:41] #55 closed

[2020-12-02 01:35] thomasyu888 opened #61 "Rename DataNodeApiClient to DataNodeClient"

[2020-12-02 01:35] thomasyu888 opened #62 "Create one file per Data Node model"

[2020-12-02 01:36] thomasyu888 opened #63 "Better error handling for HTTP errors"
[code]

[2020-12-02 01:54] thomasyu888 opened #66 "Add data node client as dependency of client"
The benefit of doing this is that we can re-use the models that are auto generated in the server code.

[2020-12-02 06:17] #38 closed

[2020-12-02 06:17] #47 closed

[2020-12-02 10:01] #57 closed

[2020-12-02 16:24] tschaffter commented on #38
The doc is now available: https://nlpsandbox.github.io/nlpsandbox-client/

[2020-12-02 20:32] tschaffter commented on #54
It would have been nice to publish an "edge" version, but PyPi does not allow to overwrite version, which in generate is an excellent best practice. Instead of relying on an edge version, I'm install the "edge" version from the source code after doing `docker pull` on the branch `develop` in combination with `pip install -e .`.

[2020-12-02 20:32] #54 closed

[2020-12-03 07:10] #62 closed

[2020-12-03 07:10] #61 closed

[2020-12-03 07:10] #52 closed

[2020-12-03 07:11] #63 closed

[2020-12-03 07:14] thomasyu888 commented on #45
Most of these are encapsulated in the auto generated data node client. Will open up a new issue to draft new use cases

[2020-12-03 07:14] #45 closed

[2020-12-03 07:19] thomasyu888 opened #69 "Draft new client use cases"
All of the API calls in the data node were created by `openapi-generator`. This is a new issue to try to encapsulate the new use cases for this client.  These are all the important cli functions that can support the workflows that run the challenge.

[ ] Validate / Evaluate annotated notes
[ ] Show submission history (admins not participants)
[ ] Check the status of recent submissions (admins not

[2020-12-06 01:07] thomasyu888 commented on #66
The auto generated datanode is now included in this package.

[2020-12-06 01:07] #66 closed

[2020-12-09 12:16] thomasyu888 opened #77 "Evaluation on 2014-i2b2-20201203 evaluation dataset fails."
[code]

[2020-12-09 12:31] thomasyu888 commented on #77
To reproduce:

[code]

[2020-12-09 15:45] tschaffter commented on #77
@yy6linda Can you fix this division by zero?

[2020-12-09 15:53] yy6linda commented on #77
Yes I will, can I have the example annotation that generated this error?

[2020-12-10 00:29] thomasyu888 commented on #77
@yy6linda There is the a synapse id in the code above - Here is the link https://www.synapse.org/#!Synapse:syn23628905

[2020-12-10 05:52] thomasyu888 opened #78 "Created merged annotator client for all three services"
Best way is to merge the three openAPI specs together.

[2020-12-10 15:26] tschaffter commented on #78
@thomasyu888 Did you merge the specs manually? Here is a tool that could help us to do that programmatically:

- https://www.npmjs.com/package/openapi-merge (library)
- https://www.npmjs.com/package/openapi-merge-cli (cli that uses the library)

[2020-12-10 23:23] thomasyu888 commented on #78
I merged it manually as it was pretty simple. I'll take a look at that tool.

[2020-12-11 01:41] #78 closed

[2020-12-11 01:42] #77 closed

[2020-12-11 01:43] thomasyu888 commented on #27
By using the client to get the annotation stores (goldstandard) and annotation results from the annotators (prediction), we may not need this.  Thoughts @tschaffter ?

[2020-12-13 00:48] #27 closed

[2020-12-13 01:32] tschaffter commented on #25
@thomasyu888 Before answering https://github.com/nlpsandbox/nlpsandbox-controller/issues/39 (submission ID, run ID), let's discuss about how users can submit a NLP tool for training/evaluation. We currently don't support training but this is another discussion that we should have soon in https://github.com/nlpsandbox/nlpsandbox-controller/issues/24.

Let's imagine that we want to enable the user t

[2020-12-13 03:27] thomasyu888 commented on #25
@tschaffter, there are multiple things you touched on here which I will address.

1. We could include or exclude `docker push` out of the `submit` command, but i think it's important for participants to know how to `docker build` on their own.  One of the biggest issues is that you don't get a digest until you push the docker image.
1. All of the below will assume using Synapse as a backend for su

[2020-12-13 17:23] tschaffter commented on #25
Pushing the docker image should be done by the user using Docker tools so that we keep the client as simple as possible, development and maintenance wise.

This approach also offers more flexibility to the user. Example: our example annotators already have a job in the GH CI/CD workflow to lint, test and publish the docker image to DockerHub. There are already GH Action that helps with pushing Doc

[2020-12-14 02:14] thomasyu888 commented on #25
Thanks @tschaffter, that is what I originally had in mind as well.  I think it is good to participants do the `docker push`, but I wanted to keep the options open.  One thing that we will really need to tackle is the ability to pull down private images and cache the submission.  What we are actually missing is are scoped access tokens per private docker repository, I don't think we should collect

[2021-01-08 09:57] thomasyu888 opened #82 "/textPhysicalAddressAnnotations endpoint not implemented or implemented incorrectly."
Not sure if this is true, but that is the error message I got from submitting this baseline model.

Edit: Might be an issue with the nlp-sandbox-client

[2021-01-08 10:24] #82 closed

[2021-01-25 22:38] gkowalski opened #86 "Documentation Enhancement"
The documentation in the README.md states

Evaluate the performance of a local prediction file:

  docker run --rm nlpsandbox/cli evaluate

But does not explain the other options which are required , nor tell how to first get / produce these files

 docker run --rm nlpsandbox/cli evaluate prediction --help

[code]

[2021-01-26 14:49] thomasyu888 opened #87 "Make sure annotationStore exists prior to storing"
Closing ticket as opened this one: https://github.com/nlpsandbox/data-node/issues/135

[2021-01-26 14:50] thomasyu888 opened #88 "Add cli create dataset"

[2021-01-28 01:36] thomasyu888 commented on #86
@tschaffter , I can add documentation that leads to the example prediction and goldstandard files, but I think the docs of obtaining these prediction  / goldstandard files should be internal.  For example:

1. Obtain predictions from a particular submission id (example: 3):
[code]
1. Obtain goldstandard from a particular submission id (example: 3):
[code]
1.  Evaluate
[code]

[2021-01-28 07:22] thomasyu888 opened #96 "RemoteDisconnected issue when storing prediction results from two submissions at once"
[code]

[2021-01-28 07:23] #87 closed

[2021-01-28 07:23] thomasyu888 commented on #86
Opened a ticket here to track: https://github.com/nlpsandbox/nlpsandbox-website-synapse/issues/11

[2021-01-28 07:24] #86 closed

[2021-02-04 00:45] #30 closed

[2021-02-04 12:41] thomasyu888 commented on #88
@tschaffter , what are your thoughts on this: https://github.com/nlpsandbox/nlpsandbox-client/blob/develop/nlpsandboxclient/client.py#L63-L66.  Currently i have essentially a "get_or_create" function but I call it "get..."  It is actually this way for convenience to not have to add a conditional workflow for CWL:

1. try to get annotation store
2. If annotation store doesn't exist, create it

That

[2021-02-04 16:09] tschaffter commented on #88
I think that this design may lead to unexpected behavior and confusion. Typically, a user wants to be alerted if his/her input are incorrect, instead of having the client creating a dataset with the typo and push data to it.

[2021-02-11 13:46] thomasyu888 opened #98 "Update client to match new schema and data node"
### Is your proposal related to a problem?

The data node was updated to support non-random note, annotation, and patient Ids.

### Describe the solution you'd like

Support the new data node.

[2021-02-11 13:56] #96 closed

[2021-02-12 15:16] thomasyu888 opened #102 "Simply example push_dataset.py code"
### Is your proposal related to a problem?

No

### Describe the solution you'd like

Don't include synapseclient

[2021-02-14 14:39] #102 closed

[2021-02-14 14:40] #98 closed

[2021-02-14 15:29] thomasyu888 opened #107 "Tool object requires License object"
### Problem description

When you do a `requests.GET` call on the `api/v1/tool` endpoint, you will get a dict like this:

[code]

An easy way to validate this is to simply use the model that is auto generated by `openapi-generator` but that isn't possible, because you will get an error like this

[code]

#### Steps to reproduce the issue

[code]

#### Expected behavior

Ideally, license doesn't ha

[2021-02-14 15:35] thomasyu888 opened #108 "It seemed that the patient weren't deleted even when the dataset was deleted"
### Problem description

[code]

#### Steps to reproduce the issue

I haven't tested this yet, but
1. Create a dataset
2. Create multiple patients
3. Delete the dataset
4. Try to store a patient with the same id
5. Maybe it will fail?  Or the above was just a fluke.

I looked at the server code and there is definitely code to delete the patients when the dataset is deleted.

[2021-02-14 17:47] tschaffter commented on #107
Do we really get a dictionary or a [Tool ](https://github.com/nlpsandbox/nlpsandbox-client/blob/1c1d6dbf249a9717520708fae997422e7ff630ba/annotator/model/tool.py#L39)object?

What is the issue exactly ? Not getting a Tool object when querying GET `/`? If we can get a Tool object from GET `/api/v1/tool`, why can't we get it from '/'?

[2021-02-14 22:54] tschaffter commented on #108
I cannot reproduce this error. What I did:

1. Start from an empty DB
2. Create a dataset, create a FHIR store, create a patient
3. Delete the dataset
4. Use Robo 3T to confirm that the DB is empty

We are no longer using patient ID like the one in the log ("3e21599d-b3e6-4a49-94a6-d6db54de3688"). This ID seems to indicate that it was generated by the DB, which is no longer the case since last wee

[2021-02-14 23:01] thomasyu888 commented on #108
Ya this issue was fixed when I removed the docker volume.  I'll close this issue.

[2021-02-14 23:01] #108 closed

[2021-02-14 23:09] thomasyu888 commented on #107
That's the issue, currently you have to use the sdk to GET /api/v1/tool if you want a tool object.  Unless you do this:

tool_info = requests.get(....)
tool_info['license'] = License(tool_info['license'])
tool_obj = Tool(**tool_info)

It's not 100% an issue because we can just interact with the api with the SDK client function but the SDK client doesn't provide a function to GET / so I am using re

[2021-02-16 11:36] thomasyu888 commented on #107
Closing as we have a solution for this.  That being said, it is still good to be aware of this issue.

[2021-02-16 11:36] #107 closed

[2021-02-18 12:18] thomasyu888 opened #113 "Review example-patient-bundles.json"
### Is your proposal related to a problem?

How will data hosting sites load their data into their own data nodes?

### Describe the solution you'd like

We could potentially provide some code that takes in as input `example-patient-bundles.json` and pushes the evaluation dataset.  This is motivated from when I started creating a cli function for storing notes only to realize that you must have a

[2021-02-18 14:00] #88 closed

[2021-02-24 17:58] tschaffter commented on #113
We example script [push_dataset.py](https://github.com/nlpsandbox/nlpsandbox-client/blob/develop/examples/push_dataset.py) already does that. Do you have in mind to provide a more formal and documented way of pushing a dataset to their Data Node instance?

An intermediate step would be to update the above script so that it uses SDK functions of the Python client.

Initially most organizations shou

[2021-02-25 02:55] thomasyu888 commented on #113
The `push_dataset.py` uses `example-patient-bundles.json`, but as you said, not necessarily all sites will format their input bundle in this way.  My thoughts are:

1.  Provide a standard `bundle.json` format so sites could write code to create this bundle and use our code to push into their own data node.  We can then provide a function like: `nlp-cli data-node push-dataset --bundle bundle.json`

[2021-02-26 16:16] tschaffter opened #116 "Upgrade README"
- Update the README based on what we did for the tool repositories.
- Add Code of Conduct
- Add Contribution Guide

[2021-02-26 19:14] cascadianblue opened #118 "Async Version of `annotate_note`"
https://github.com/nlpsandbox/nlpsandbox-client/blob/540fbfe4fc4ac6adff1be7db5f5593aa5cd86cbd/nlpsandboxclient/client.py#L344

It would be very useful to have an asynchronous version of `annotate_note` (as well as a few of the other methods in this module).

E.g. I call something like this:

[code]

[2021-02-26 19:30] cascadianblue opened #119 "Change format of `annotate_note`"
https://github.com/nlpsandbox/nlpsandbox-client/blob/540fbfe4fc4ac6adff1be7db5f5593aa5cd86cbd/nlpsandboxclient/client.py#L344

`annotate_note` takes as input a `note`, but this parameter name is a bit misleading in my opinion, as it actually expects a dictionary with one key (`'note'`) and one value (the note itself, in `dict` form), e.g.:

`annotate_note(..., note={'note': {'text': "The patient,

[2021-02-26 21:03] tschaffter opened #120 "Automatically update client when new API release is available"
Following the example provided by https://github.com/nlpsandbox/docker-elk/blob/develop/.github/workflows/update.yml

[2021-02-26 23:36] thomasyu888 commented on #120
It's not that easy as the 'annotator' SDK requires the three annotators merged into one which is currently sitting in a PR.

[2021-02-26 23:44] thomasyu888 commented on #119
I think this is something that could be discussed on the API level right?  I've always found it confusing that you don't pass in the Note object for annotation but you must add the note inside of "note".

Also agreed with annotator_type,  but that will be a pretty big change for the controller as well which will take some time.

[2021-02-27 07:34] thomasyu888 opened #123 "Add function to validate tool"
### Is your proposal related to a problem?

Add function to validate annotation tools

[2021-02-27 08:18] thomasyu888 commented on #123
Currently the tool is being validated but the script is part of the controller.

[2021-02-27 08:29] thomasyu888 commented on #18
The documentation is done, but the implementation still needs to be complete.

[2021-02-27 08:56] #18 closed

[2021-02-27 08:59] thomasyu888 commented on #116
* Added [code of conduct](https://github.com/nlpsandbox/nlpsandbox-client/blob/develop/CODE_OF_CONDUCT.md) (copied from other nlp repos):
* Updated README/ [contributing guide](https://github.com/nlpsandbox/nlpsandbox-client/blob/develop/CONTRIBUTING.md)
* Auto generated documentation: https://nlpsandbox.github.io/nlpsandbox-client/

Sorry, I was trigger happy and merged a lot of these.  Am trying

[2021-02-27 13:10] thomasyu888 opened #126 "Fix CI/CD workflow that builds and pushes to Dockerhub"
### Problem description

- See: https://github.com/nlpsandbox/nlpsandbox-client/runs/1993788664?check_suite_focus=true#step:7:22
- Also see on dockerhub: https://hub.docker.com/r/nlpsandbox/cli/tags?page=1&ordering=last_updated

It appears that when I released 0.4.1, it created docker tag `0`, `0.4` and `0.4.1`

#### Expected behavior

Tags should only build that specific version, but it seems to

[2021-02-27 14:19] tschaffter commented on #126
What is this command for? Is this linked to the CI/CD workflow that build and publish the image to Docker Hub?

[2021-02-27 14:36] thomasyu888 commented on #126
@tschaffter Yes, sorry for the lack of description.  I made some edits and added details.

[2021-02-27 15:14] thomasyu888 opened #127 "Create "annotator" and "datanode" cli modules"
### Is your proposal related to a problem?

Currently, the modules `community` and `evaluation` may not make sense to house `annotator` and `datanode` functions.

### Describe the solution you'd like

Create "annotator" and "datanode" cli modules

[2021-02-28 14:47] thomasyu888 commented on #118
@cascadianblue

When using the auto-generated client, there is a way to set `async_req=True`:
[code]

The object returned `annotations` has 4 attributes:

- annotations.get()
- annotations.ready()
- annotations.successful()
- annotations.wait()

If I create a parameter `async`, should I only return the annotations async object?

[2021-02-28 15:24] #127 closed

[2021-02-28 15:51] thomasyu888 opened #131 "Change "date", "person", and "address" parameters"
### Is your proposal related to a problem?

From @cascadianblue

The `annotator_type` parameter takes inputs (date, person, address) that are out of line with anything else, as far as a I can tell.

### Describe the solution you'd like

Could they be changed to `text_date`, `text_person_name`, and `text_physical_address` to be more in line with the rest of NLP Sandbox?

This will impact the contro

[2021-02-28 15:52] thomasyu888 commented on #119
Changing the scope of this ticket and opened this: https://github.com/nlpsandbox/nlpsandbox-client/issues/131

[2021-02-28 15:59] thomasyu888 commented on #131
This would have to be updated:

[code]

[2021-03-01 15:10] thomasyu888 opened #132 "Don't add "note_name" when listing notes"
### Is your proposal related to a problem?

There are multiple things that currently happen:
- During annotation of notes: Annotation Object is returned by the client CLI and not the TextAnnotationResponse object.
- "note_name" key is added when listing notes - this is to support `annotationSource` when annotating notes

### Describe the solution you'd like
- Return TextAnnotationResponse objects

[2021-03-05 01:12] tschaffter commented on #131
It seems that we have two types of tools:

- This client defines `annotator_type` that takes these values:
  - `date`
  - `person`
  - `address`
- The NLP Sandbox Schemas defines four Tool APIs that are expected to return [Tool.toolType](https://github.com/nlpsandbox/nlpsandbox-schemas/blob/176a553d40a71d6c23e8787e314541583fbe4617/openapi/commons/components/schemas/Tool.yaml#L35) with these values

[2021-03-05 01:13] tschaffter commented on #131
@cascadianblue If applicable, your implementation of the PHI Deidentifier should also rely on `nlpsandbox:date-annotator`, etc.

[2021-03-10 17:53] gkowalski opened #134 "Document how to set up SYNAPSE_API_KEY, SYNAPSE_API_KEY"
### Problem description

In following the https://github.com/MCW-BMI/nlpsandbox-controller/blob/develop/README.md , it says to install the nlpsandbox-client and start pushing data using the push_challenge_data.py program . Fails with a userid / password problem. So I came to this project to read how to set up authentication to SYNAPSE. I could not find doc on how to set this up. There is a .env.sa

[2021-03-10 18:55] gkowalski commented on #134
Yea , tried to set SYNAPSE_USERNAME and SYNAPSE_API_KEY and that didn't help. I would like to push the gold standard data in first as a test. I saw that the push_challenge_data.py  downloaded this file first so I tryed it. I guess I'm left with this push_dataset.py program and the example-patient-bundles.json that it inserts as an example.

[2021-03-10 18:55] #134 closed

[2021-03-11 00:46] tschaffter commented on #113
@gkowalski Tom told me that you asked him how to push data to an instance of the Data Node. The *examples* folder of this repository includes an example that reads clinical note and patient data from a JSON file, then create a Dataset in the data node and store the clinical notes and patient information there.

If you dataset is large, it would not make sense to create such a JSON file. However, y

[2021-03-11 00:51] tschaffter opened #135 "Get rid of get_or_create_resource in example script"
### Is your proposal related to a problem?

The use of a function that gets a resource OR creates it and gets it is a bad practice. If the user is requesting a resource and it does not exists, a 404 error should be returned to the user instead of assuming that he/she wants the resource to be created.

### Describe the solution you'd like

Get rid of the function `get_or_create_resource ` in the ex

[2021-03-11 01:38] thomasyu888 commented on #135
I personally think it would be bad practice if the function was labelled as `create` or `get`, but it's pretty clear here that the function will create a resource if it doesn't exist, and get it if it does.

That being said, this was done because you may not want to have to add in the try catch yourself if the creation of the 300th patient failed and you have to rerun your creation script.  It's n

[2021-03-11 02:03] cascadianblue commented on #131
There happens to be a one-to-one correlation of `tool_type` to annotation type. E.g.

`text_physical_address` -> `nlpsandbox:physical-address-annotator`
`text_date` -> `nlpsandbox:date-annotator`

is this necessarily going to always be true for all tool types?

[2021-03-11 02:27] cascadianblue commented on #131
@tschaffter the phi-deidentifier uses the `annotation type` convention (e.g. `text_date`) in its response when it passes the annotations on to the client: https://github.com/nlpsandbox/nlpsandbox-schemas/blob/5e0e07af21d1faa816425723b7ed17791426cf27/openapi/phi-deidentifier/components/schemas/AnnotationSet.yaml . Should this be changed to the `tool type` convention (e.g. `nlpsandbox:date-annotator

[2021-03-11 03:12] tschaffter commented on #135
I looked at the script I wrote originally and you're right, what you are doing is just making the script more condensed. Generally speaking, running the script twice in a row should lead to the same dataset state in the data node. One way to achieve this is to start the script with DELETING the dataset (we know its resource name), then create the dataset, create the fhir store, etc. with no need t

[2021-03-15 22:06] #135 closed

[2021-03-16 15:58] tschaffter commented on #131
@cascadianblue It's difficult to confirm. Why?

[2021-03-16 18:18] tschaffter commented on #131
This wouldn't work. It's better to have the tool type and name of the output returned loosely coupled instead of rigidly.

@thomasyu888 Let's go with using tool type (e.g. `nlpsandbox:abc`) to identify a type of tool.

[2021-03-17 03:40] tschaffter commented on #113
@tschaffter Reformat JSON bundle (add `Note.noteId`), then Tom will update this script and we will close this ticket.

[2021-03-17 03:42] tschaffter commented on #132
@tschaffter Review this ticket

[2021-03-17 12:00] #119 closed

[2021-03-17 12:41] thomasyu888 commented on #131
@tschaffter, just to confirm if you are ok with cli like this

* Evaluate prediction
[code]

* Annotate Note
[code]

[2021-03-18 02:02] tschaffter commented on #131
@thomasyu888 What is saved to the `output` folder? Is the response displayed in the terminal after running the command?

This CLI looks great!

[2021-03-18 02:04] thomasyu888 commented on #131
@tschaffter Its not a folder, it's the path to the json.  So if you wanted to get the results of an annotation in `json` it would be:

[code]

[2021-03-18 02:24] tschaffter opened #139 "Register to coveralls.io"

[2021-03-18 02:29] thomasyu888 opened #140 "Write tests for the nlpsandboxclient"
### Is your proposal related to a problem?

Currently the tests only exist for the auto generated portions of the client.  The non-autogenerated portion needs to be tested.

[2021-03-18 02:29] #131 closed

[2021-03-18 03:02] #139 closed

[2021-03-23 05:17] thomasyu888 commented on #140
In complete, but almost done.

[2021-04-27 16:53] gkowalski opened #149 "Loading data into data node fails with example script"
### Problem description

I ran the examples/push_dataset.py program to load the example data set into our data node and it failed to load the data.

#### Steps to reproduce the issue

I first edited the push_dataset.py and changed the host  line to read :

host = "http://ourhost.mcw.edu:8080/api/v1"

Then ran the program :

[code]

#### Expected behavior

- Data loaded into data node

#### Extra i

[2021-04-27 20:22] tschaffter commented on #140
@thomasyu888 I think that you added several tests recently. Do you want to close this ticket?

[2021-04-28 07:38] thomasyu888 commented on #140
@tschaffter, there is a still a draft PR that almost has all the tests.  Will eventually get to finishing it.

[2021-04-29 01:00] thomasyu888 commented on #149
@gkowalski , this also seems like an issue with the data node not being up to date.

[2021-04-29 18:37] gkowalski commented on #149
I have done a git pull and have the latest code :

cd data-node

$git remote -v
origin	https://github.com/nlpsandbox/data-node.git (fetch)
origin	https://github.com/nlpsandbox/data-node.git (push)

$git branch
* develop

$git log -1 --oneline
c6ef9d4 Revert python slim buster (#159)

Seems to be the latest from https://github.com/nlpsandbox/data-node

[2021-04-29 19:08] gkowalski commented on #149
As for the nlpsandbox-client :

cd ~/nlpsandbox-client

git remote -v

$ git remote -v
origin	https://github.com/nlpsandbox/nlpsandbox-client.git (fetch)
origin	https://github.com/nlpsandbox/nlpsandbox-client.git (push)

$git branch
* develop

$ git log -1 --oneline
cf52697 Update README.md (#147)

which matches https://github.com/nlpsandbox/nlpsandbox-client

[2021-04-29 21:57] tschaffter commented on #149
@gkowalski

    return fn(self, *args, **kwargs)
TypeError: __init__() missing 1 required positional argument: 'note_type'

This message tells us that the issue is related to a Python property named `note_type` in the file `datanode/model_utils.py`. The first thing to check is: Is this property part of the [Note schema](https://github.com/nlpsandbox/nlpsandbox-schemas/blob/cfcf11e144e1da93f816f1c9

[2021-04-30 02:19] tschaffter commented on #149
Following the above discussion, we have just released the [NLP Sandbox client version 1.0.1](https://pypi.org/project/nlpsandbox-client/) for Python on PyPi.

@gkowalski Can you state whether you are using the client installed from PyPi or from source? If it's from source, us releasing the new version of the client won't help because the new release does not solve any know issues.

Please use the

[2021-04-30 13:39] gkowalski commented on #149
I always use the source code . I didn't know of the pypi version  .

[2021-04-30 14:03] tschaffter commented on #149
Please update your client (both the source and the pypi package have been updated). The client no longer has reference to `note_type` so you should not long get the error that you share above.

[2021-04-30 19:21] gkowalski commented on #149
Works now .

+ (venv) [crdw@darvin:~/nlpsandbox-client/examples]$ python push_dataset.py
+ Creating dataset: test-dataset
+ Creating Fhir Store: evaluation
+ Creating Annotation Store: goldstandard
+ Creating patient: 110
+ Creating note (110-01) for patient (110)
+ Creating annotation for note: 110-01
+ Creating note (110-02) for patient (110)
+ Creating annotation for note: 110-02
+ Creating not

[2021-04-30 19:21] #149 closed

[2021-05-04 19:38] cascadianblue opened #151 "Add ID and Contact to nlpsandboxclient"
### Is your proposal related to a problem?

ID-annotator and contact-annotator specifications have not yet been incorporated into `nlpsandboxclient`.

### Describe the solution you'd like

There should be new functions `_annotate_contact()` and `_annotate_id()` in `nlpsandboxclient/client.py`, and new `if` statements under `annotate_note()` in the same file.

[2021-05-15 07:21] cascadianblue opened #153 "Unclear How to Combine Annotator Schemas"
### Problem description

The [contribution documentation](https://github.com/nlpsandbox/nlpsandbox-client/blob/develop/CONTRIBUTING.md#updating-the-sdk-clients) doesn't seem to show specifically how to combine the annotator specifications into one. Therefore I do not know how to do it

[2021-05-16 09:45] thomasyu888 commented on #153
This is the merged annotators.   There aren't really instructions, just have to build this manually. https://github.com/nlpsandbox/nlpsandbox-schemas/pull/124

[2021-05-17 09:41] thomasyu888 opened #156 "Add scoring code (evaluation) support for id and contact annotators"
### Is your proposal related to a problem?

Contact, Id, covid symptom annotators needs to be added to the evaluation code

- [x] id
- [x] contact

[2021-05-17 11:46] thomasyu888 commented on #153
I updated the contributing guide.

[2021-05-17 11:46] #153 closed

[2021-05-17 18:36] tschaffter commented on #156
Depends on:
- https://github.com/nlpsandbox/nlpsandbox/issues/46
- https://github.com/nlpsandbox/nlpsandbox/issues/47

[2021-05-21 01:28] #151 closed

[2021-05-29 05:46] tschaffter commented on #156
@thomasyu888 Removing support for covid annotator from the scope of this ticket.

[2021-05-29 05:47] tschaffter commented on #156
The generator will generate code for the covid annotator because it's in the schema.

[2021-05-29 05:50] tschaffter commented on #132
@thomasyu888 Can you review this ticket before our meeting on Monday? Then let's review it together.

[2021-05-29 05:50] tschaffter commented on #132
@thomasyu888 Is this ticket required for the launch?

[2021-05-29 05:51] tschaffter commented on #126
@thomasyu888 Is fixing this ticket required for the launch?

[2021-05-29 05:55] tschaffter commented on #113
@thomasyu888 Let's review this ticket on Monday. I did some nice work on the generation of the JSON bundle but I haven't change the structure of the data. The dataset below has been created for the schemas 1.1.2, which has not been released yet.

https://www.synapse.org/#!Synapse:syn25815737

[2021-05-29 05:56] tschaffter commented on #116
@thomasyu888 Assigning this ticket to you. I don't have required for the README at this point.

[2021-05-29 05:58] tschaffter commented on #118
@thomasyu888 Is there an update regarding this ticket? Is this a low hanging fruit? Is it a must-have for the launch on June 8th?

[2021-05-29 06:05] thomasyu888 commented on #126
@tschaffter Not required for launch

[2021-05-29 06:06] thomasyu888 commented on #156
@tschaffter This is for the evaluation script code?  I don't think the scoring script is auto generated at all.

[2021-05-29 06:12] tschaffter commented on #156
Your right. Assigning to @yy6linda

[2021-05-29 06:16] #116 closed

[2021-05-29 06:16] thomasyu888 commented on #118
@tschaffter not a must have for launch

[2021-05-30 03:57] thomasyu888 opened #159 "Update to support schemas 1.1.2"
### Is your proposal related to a problem?

- [x] Update nlpclient

Edit:

- [x] Create nlpsandbox-sdk folder with merged annotator and datanode

[2021-05-31 14:39] thomasyu888 opened #160 "Update `example-patient-bundles.json` to include other annotators"
### Is your proposal related to a problem?
This file is used with the example `push_dataset.py` code to push a very small fake dataset into the data node to make sure the data node works

[2021-05-31 14:39] thomasyu888 commented on #132
@tschaffter this is not required for launch.

[2021-05-31 15:01] tschaffter commented on #160
Related to #113.

The bundle data should be ready but we want to start propagating schemas 1.1.2 in an ordered manner. Let's discuss this in our next meeting.

[2021-06-01 00:38] tschaffter commented on #126
Version system in place is intentional.

[2021-06-01 00:38] #126 closed

[2021-06-03 08:10] thomasyu888 commented on #159
Fixes #161

[2021-06-03 09:19] #120 closed

[2021-06-03 09:19] thomasyu888 commented on #120
Done.  The entire API is merged into one openapi.json which makes updating much easier.

[2021-06-03 09:23] #159 closed

[2021-06-03 09:23] thomasyu888 opened #163 "Push v3 of client"
### Is your proposal related to a problem?

Push v2 of client

- [x] Check cli functions work with datanode
- [x] Check cli functions work with annotators

[2021-06-03 12:33] tschaffter opened #168 "Replace the term SDK?"
https://rapidapi.com/blog/api-vs-sdk/

I don't think that we provide a kit of tools, which is often understood by SDK. What we provide is actually an API that let the user interact with NLPSandbox.io services. Here we bridge the public API that we expose to the user to the code automatically generated by the openapi generator.

I'm also thinking to the `import` that a user of the client library ne

[2021-06-03 12:35] thomasyu888 commented on #168
I use the term SDK from this: https://docker-py.readthedocs.io/en/stable/

[2021-06-04 16:23] tschaffter commented on #168
I'm OK with the current naming. I should first spend time using the client, then I will know better whether I feel like a change of package names is required.

[2021-06-05 12:20] tschaffter commented on #168
After a second look at the Python client code and see the PHI deidentifier using it, I now prefer to replace `nlpsandboxsdk.*` by `nlpsandbox.*`. This would actually respect the example provided by @thomasyu888 earlier in this ticket regarding docker client implementation. Here are additional thoughts:

- It does not seem to me that the addition of `sdk` solves an issue, for example a conflict wit

[2021-06-05 12:23] tschaffter opened #171 "Fix incorrect tool names"
https://github.com/nlpsandbox/phi-deidentifier-example/pull/127#discussion_r645942142

This is probably the results of an aggressive Find & Replace. :-)

[2021-06-05 12:25] tschaffter commented on #163
- Depends on #168
- Depends on #171

[2021-06-05 13:13] #171 closed

[2021-06-05 13:36] #168 closed

[2021-06-05 13:55] #163 closed

[2021-06-05 22:42] tschaffter commented on #160
Done, see https://github.com/nlpsandbox/i2b2-phi-dataset

[2021-06-05 22:42] #160 closed

[2021-06-05 22:45] tschaffter commented on #113
@thomasyu888 This issue should now be fixed. [This notebook](https://github.com/nlpsandbox/i2b2-phi-dataset) should enable anyone to generate the 2014 i2b2 dataset to the NLP Sandbox schemas.

[2021-06-05 22:45] #113 closed

[2021-06-05 22:50] tschaffter opened #176 "Set default branch to main"
All the other nlpsandbox repository should now have their default branch set to "main". Most developers will expect the main branch to be called "main".

[2021-06-06 00:37] thomasyu888 commented on #176
@tschaffter I will do this but typically when people are pulling repositories, they don't specify a branch. So by default it pulls down the default branch regardless of which one it is.  Can I have admin access on this repo please?

[2021-06-06 00:56] tschaffter commented on #176
As developers start working with other branches, they will need to enter the name of the default branch eventually (e.g. `git checkout main`).

[2021-06-06 03:32] thomasyu888 commented on #176
@tschaffter When developers work with this, they will have to fork it, and it's their responsibility to keep track of what branches they work on.  That being said, I am fine with the shift to main being the default branch.

[2021-06-06 03:43] tschaffter commented on #176
Yes, but we can imagine that they will *unconsciously* try the first few times to go back to the default branch with `git checkout main`, which would not work if our default branch is named differently. It's a tiny contribution to make the work of developers more easy

[2021-06-06 06:15] thomasyu888 commented on #176
@tschaffter Done.

[2021-06-06 06:15] #176 closed

[2021-06-08 02:32] tschaffter opened #185 "Change name of workflow Update Date Annotator stub"

[2021-06-08 02:44] #156 closed

[2021-06-08 02:48] thomasyu888 opened #187 "Push v3.1 of client"

[2021-06-08 07:55] #185 closed

[2021-06-21 16:16] #187 closed

[2021-06-21 16:16] thomasyu888 opened #190 "Release 4.0 client"
### Is your proposal related to a problem?

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-06-22 03:20] #190 closed

[2021-06-23 18:09] tschaffter opened #193 "The client does not throw an error when listing dataset from invalid host/path"
I would expect the following Python code to throw an error because the endpoint used is invalid (note the `v2` portion of the host). The current behavior is that the code run without error.

[code]

Tagging @yy6linda as she is now using the client to pull predictions from data nodes (first local instance then Sage data node)

[2021-06-23 18:17] tschaffter opened #194 "Unable to get list of datasets"
I'm running a local instance of the data node available on `localhost:8080`. The data node has two datasets that I have created using Swagger UI.

![image](https://user-images.githubusercontent.com/3056480/123147353-c5077700-d413-11eb-9e01-fad71ecb113a.png)

I'm trying to get the list of datasets in this local instance:

[code]

The output does not show any dataset names or error.

Tagging @yy6lin

[2021-06-23 19:38] gkowalski opened #195 "Example not updated for 1.2.0 Data node"
### Problem description

The example code https://github.com/nlpsandbox/nlpsandbox-client/blob/main/examples/push_dataset.py has not been updated to support the 1.2.0 data node textPhysicalAddressAnnotations is still referenced. instead of TextLocationAnnotation

[2021-06-23 21:15] tschaffter commented on #195
@thomasyu888 Also, what about making the example code using the "sdk" client?

[2021-06-23 21:59] thomasyu888 commented on #194
@tschaffter, I'm not sure this will work but can you try 0.0.0.0:8080....

[2021-06-23 22:11] tschaffter commented on #194
@thomasyu888 Same behavior when using `0.0.0.0` instead of `localhost`

[2021-06-23 22:25] tschaffter commented on #194
I placed the code in a Python script and I get a different behavior.

The code below does not show anything in the terminal using `python list_dataset.py`:

[code]

Now when adding the iteration over datasets:

[code]

Error:

[code]

Same behavior with `0.0.0.0`.

@thomasyu888 @yy6linda While I don't know why the connection fails, I'm surprised that I don't get this error on the line `datasets =

[2021-06-23 22:28] tschaffter commented on #194
The data node is up and running locally:

[code]

[2021-06-23 23:18] thomasyu888 commented on #194
@tschaffter Using python 3.7, I can't reproduce the problem:

[code]

[2021-06-24 00:22] thomasyu888 commented on #195
@tschaffter The example code does use the `nlpsandbox` client.

[2021-06-24 12:49] tschaffter commented on #194
You're right, I forgot about this. Thanks @thomasyu888 ! I will close this ticket when I can confirm the fix.

[2021-06-24 12:50] #195 closed

[2021-06-24 17:11] tschaffter commented on #193
@thomasyu888 My bad. The issue step from the fact that the follow python code in an R notebook will not fully return.

[code]

Terminal output (note the `...` on the last line, which show that the code block has not fully returned. Pressing ENTER in the terminal will show the print output):

[code]

@thomasyu888 @yy6linda The solution I found is to always add a blank line at the end of a Python co

[2021-06-24 17:11] #193 closed

[2021-06-24 17:48] tschaffter commented on #194
@thomasyu888 @yy6linda I have finalized the initial version of the notebook that show how to interact with a data node. The notebook successfully connect to a local instance of a data node run locally using Docker. This is achieve by giving the Docker container that run RStudio access to the Docker network of the data node instance. See link below for more information on the setup.

https://github

[2021-06-24 17:48] #194 closed

[2021-07-29 21:07] tschaffter opened #200 "Increase number of request retries when evaluting a tool"
### Is your proposal related to a problem?

Yes. The current exponential backoff strategy only retries 3 times when a request sent to a tool fails. These 3 attempts happen 2, 4, and 8 second later, thus taking 14 seconds. This amount of time is not sufficient in case a tool gets temporarily "stuck".

Most importantly, one problem with the current implementation is that the controller starts sendin

[2021-08-04 03:13] thomasyu888 commented on #34
After thinking about this some more, I think it would be a bit troublesome to implement the `nlpsandboxclient.login()`. I think I will follow the same paradigm in which all other tools call synapse which is what I stated above:

[code]

[2021-08-04 03:39] #200 closed